<div class="pokemon-card">
  <div class="pokemon-image" (click)="onClickPokemonImage()">
    <img [src]="pokemon.imageUrl" [alt]="pokemon.name">
  </div>
  <div class="pokemon-detail">
    <div class="id">
      N.º {{ pokemon.id | padStart:4 }}
    </div>
    <div class="name">
      {{ pokemon.name | titlecase }}
    </div>
    <div class="types">
      <span *ngFor="let type of pokemon.types" [appPokemonType]="type">{{ type | titlecase | translateType }}</span>
    </div>
  </div>
</div>
