.header{
    width: 100vw;
    height: 75px;
    background-color: white;
    box-shadow: 0px 8px 28px 0px #78B1B51A;


}
.logo{
    width: 238px;
    height: 75px;
    padding-left: 41px;
    padding-top: 12px;
    padding-bottom: 10px;

}