<div class="container" style="padding-left: 90px;">
  <div class="row" style="padding-top: 77px;">
    <span class="poppins-blue"> ¡Hola! Configuremos tu perfil
    </span>
  </div>

  <div class="row">
    <span class="poppins-gray"> Queremos conocerte mejor.
    </span>
  </div>


  <div class="row" style=" padding-left: 89px;">
    <div class="container">
      <div class="row info">
          <span class="poppins-white">Imágen Perfil</span>
          <img src="../../../../../assets/img/logo.png" class="perfilimg">
          <button class="file2" type="button"   (click)="fileInput.click()">
             <span class="text2">Adjunta una foto</span>
           
            <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
            
          </button>
      </div> 
    </div>  
  </div>
</div>