.info {
  display: flex;
  justify-content: center;
  width: 392px;
  height: 600px;
  margin-top: 20px;
  padding: 10px;
  background-color: #00693C;
  border-radius: 50px;
  padding-top: 51px;

}

.perfil {
  width: 269px;
  height: 269px;
  top: 431px;
  left: 248px;
  display: flex;
  border-radius: 80%;
}

.poppins-white {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: white;


}

.poppins-blue {

  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  color: #01426A;


}

.poppins-gray {

  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

  color: #868686;


}

.perfilimg {
  width: 269px;
  height: 269px;
  left: 248px;
background-color: #E7EFF5
;
  left: 50%;
  border: 14px;
  border-color: #FFFFFF;
border-style: solid;
  border-radius: 50%;
  /* Forma redonda */
  overflow: hidden;

}
.file2{
  width: 334px;
height: 70px;
top: 751px;
left: 213px;
gap: 10px;
border-radius: 10px;
border-style:dashed;
border-color: #2C85BC;

}

.text2{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  text-align: left  ;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  width: 109px;


color: #2C85BC;

}